.btn:hover{
    background: #563434;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer{
    background: black;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #8a8a8a;
    margin-bottom: 20px;
}
.footer li{
    color: #8a8a8a;
}
.footer-c1{
    min-width: 250px;
    flex: 1;
    text-align: center;
}
.footer-cl img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-c2{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.Copyright{
    text-align: center;
}